@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200&family=League+Spartan:wght@300&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: 0;
  font-family: 'Karla', sans-serif;
}

button {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  cursor: pointer;
}

input {
  border: none;
  width: 15rem;
  height: 1.5rem;
  text-align: center;
  border-radius: 20px;

}

/* COLORS */

.white {
  color: white;
}

/* CONTAINERS */

.container {
  margin-left: 12rem;
  margin-right: 12rem;
}

